<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <jsp-config>
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>tld/c-1_0.tld</taglib-location>
    </taglib>
    </jsp-config>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <!--    <servlet>-->
<!--        <servlet-name>Login</servlet-name>-->
<!--        <servlet-class>com.queasy.servlets.LoginServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Login</servlet-name>-->
<!--        <url-pattern>/login/Login</url-pattern>-->
<!--        &lt;!&ndash; This is the URL of the servlet. &ndash;&gt;-->
<!--    </servlet-mapping>-->
</web-app>

