<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <jsp-config>
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>tld/c-1_0.tld</taglib-location>
    </taglib>
    </jsp-config>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>/login/login.jsp</welcome-file>
    </welcome-file-list>

    <!--  /////////////////  -->

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/login/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
<!--        <url-pattern>/login</url-pattern>-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>CreateAccountPage</servlet-name>
        <jsp-file>/login/createAccount.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAccountPage</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>IncorrectInfoPage</servlet-name>
        <jsp-file>/login/incorrectInfo.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>IncorrectInfoPage</servlet-name>
        <url-pattern>/incorrect</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>CreationFailedPage</servlet-name>
        <jsp-file>/login/creationFailed.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreationFailedPage</servlet-name>
        <url-pattern>/creationFailed</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/main/welcome.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>ScorePage</servlet-name>
        <jsp-file>/quiz/score.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScorePage</servlet-name>
        <url-pattern>/score</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>CreateQuizPage</servlet-name>
        <jsp-file>/quiz/createQuiz.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateQuizPage</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>OnePageQuizPage</servlet-name>
        <jsp-file>/quiz/quizOnePage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>OnePageQuizPage</servlet-name>
        <url-pattern>/quizOnePage</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>QuizDetailsPage</servlet-name>
        <jsp-file>/quiz/quizDetails.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizDetailsPage</servlet-name>
        <url-pattern>/quizDetails</url-pattern>
    </servlet-mapping>

    <!--  /////////////////  -->
    <servlet>
        <servlet-name>UserPage</servlet-name>
        <jsp-file>/user/userDetails.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserPage</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>


</web-app>

